<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>

  <!-- Material Icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
	
	<%- include('component/header.ejs') %>

	<div class="container position-md-relative pb-5 pt-md-26 pb-md-57 py-xl-0">
		<div class="row flex-column flex-xl-row align-items-center">
			<div class="col-md-4 col-xl-5 d-flex justify-content-center position-xl-static">
				<img src="assets/images/index-1.png" alt="Index-1" class="index-search-img img-fit position-xl-absolute">
			</div>
			<div class="col-md-6 col-xl-7 py-xl-66">
				<h2 class="text-secondary font-weight-bold text-center text-xl-left fz-14 fz-md-16 fz-xl-20 mb-1 mb-md-2 mb-xl-4">寵物服務，盡在 PETPET</h2>
				<p class="text-secondary font-weight-bold text-center text-xl-left fz-10 fz-xl-12 mb-3 mb-md-5 mb-xl-12">當您的毛孩有需要時， 幫您找到最合適的服務者！</p>
			<ul class="list-unstyled row no-gutters">
				<li class="col-xl-2 mb-4 mb-md-3 mb-xl-0">
					<div class="input-group input-group-lg">
						<select class="custom-select" id="inputGroupSelect01">
							<option selected>品種</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</li>
				<li class="col-xl-4 mb-4 mb-md-3 mb-xl-0">
					<div class="input-group input-group-lg">
						<select class="custom-select" id="inputGroupSelect01">
							<option selected>服務</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</li>
				<li class="col-xl-4 mb-3 mb-md-4 mb-xl-0">
					<div class="input-group input-group-lg">
						<select class="custom-select" id="inputGroupSelect01">
							<option selected>地區</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</li>
				<li class="col-xl-2">
					<a href="#" class="btn btn-tertiary fz-10 w-100 py-2">送出</a>
				</li>
			</ul>
			</div>
		</div>
		<a href="#" class="btn btn-tertiary rounded-circle p-1 index-search-more position-absolute d-none d-md-block">
			<span class="material-icons d-flex align-items-center fz-20">arrow_drop_down</span>
		</a>
	</div>

	<div class="container py-10 pt-md-21 pb-md-15 py-xl-20">
		<h2 class="font-weight-bold text-secondary mb-1">本月熱門保姆</h3>
		<p class="font-weight-bold text-secondary fz-10 mb-3">即時瞭解您的需求，安排最適合毛孩的寵物保姆！</p>
		<%- include('component/carousel.ejs') %>
	</div>

	<div class="container pb-10 pb-md-15 pb-xl-20">
		<h3 class="font-weight-bold text-secondary fz-16 mb-1">線上預約</h3>
		<p class="font-weight-bold text-secondary fz-10 mb-3">即時瞭解您的需求，安排最適合毛孩的寵物保姆！</p>
		<ul class="list-unstyled row no-gutters text-white">
			<li class="col-md-4 border-md-right border-transparent border-md-thick border-xl-thicker mb-1 mb-md-0">
				<a href="reservation.html" class="order-link">
					<h4 class="order-text rounded hover-bg-transparent">寵物寄宿</h4>
					<img src="assets/images/index-5.jpeg" class="wh-full img-fit rounded order-img">
				</a>
			</li>
			<li class="col-md-3 border-md-x border-transparent border-md-thick border-xl-thicker mb-1 mb-md-0">
				<a href="reservation.html" class="order-link">
					<h4 class="order-text rounded hover-bg-transparent">寵物美容</h4>
					<img src="assets/images/index-6.jpeg" class="wh-full img-fit rounded order-img" style="object-position: 70% center;">
				</a>
			</li>
			<li class="col-md-3 border-md-x border-transparent border-md-thick border-xl-thicker">
				<div class="border-md-bottom border-transparent border-md-thick border-xl-thicker mb-1 mb-md-0">
					<a href="reservation.html" class="order-link">
						<h4 class="order-text rounded hover-bg-transparent">到府照顧</h4>
						<img src="assets/images/index-7.jpeg" class="wh-full img-fit rounded order-img-small">
					</a>
				</div>
				<div class="border-md-top border-transparent border-md-thick border-xl-thicker mb-1 mb-md-0">
					<a href="reservation.html" class="order-link">
						<h4 class="order-text rounded hover-bg-transparent">遛狗保姆</h4>
						<img src="assets/images/index-8.jpeg" class="wh-full img-fit rounded order-img-small">
					</a>
				</div>
			</li>
			<li class="col-md-2 border-md-left border-transparent border-md-thick border-xl-thicker">
				<a href="reservation.html" class="order-link">
					<h4 class="order-text rounded">行為訓練</h4>
					<img src="assets/images/index-3.jpeg" class="wh-full img-fit rounded order-img">
				</a>
			</li>

		</ul>
	</div>

	<div class="summary bg-full" style="background-image: url('assets/images/index-9.jpeg');">
		<div class="container text-white pt-15 pt-md-20 pb-31 pb-md-44">
			<h2 class="title fz-20 mb-12 mb-md-25 text-center text-md-left">PETPET目前已有</h2>
			<ul class="list-unstyled row flex-column flex-md-row font-weight-bold">
				<li class="col-md-3 mb-20 mb-md-0 d-flex justify-content-center justify-content-md-start">
					<p class="fz-24 pb-4 pb-md-27 border-left border-white pl-4">5278<br><span class="d-block fz-10">人使用 PETPET</span></p>
				</li>
				<li class="col-md-3 mb-20 mb-md-0 d-flex justify-content-center justify-content-md-start">
					<p class="fz-24 pb-4 pb-md-27 border-left border-white pl-4">5278<br><span class="d-block fz-10">人使用 PETPET</span></p>
				</li>
				<li class="col-md-3 d-flex justify-content-center justify-content-md-start">
					<p class="fz-24 pb-4 pb-md-27 border-left border-white pl-4">5278<br><span class="d-block fz-10">人使用 PETPET</span></p>
				</li>
			</ul>
		</div>
	</div>

	<div class="container pt-10 pt-md-15 pb-15 py-xl-20 text-secondary">
		<h2 class="font-weight-bold mb-1">預約流程</h2>
		<p class="font-weight-bold fz-10 mb-3 mb-md-5 mb-xl-15">輕鬆三步驟，立即獲取最佳服務！</p>
		<ul class="list-unstyled row fz-10 font-weight-bold">
			<li class="col-md-4 mb-8 mb-md-0">
				<p class="mb-1">1.查詢想要的服務</p>
				<img src="assets/images/index-10.png" class="w-100 h-auto">
			</li>
			<li class="col-md-4 mb-8 mb-md-0">
				<p class="mb-1">2.找到合適的保姆</p>
				<img src="assets/images/index-11.png" class="w-100 h-auto">
			</li>
			<li class="col-md-4">
				<p class="mb-1">3.填寫資料完成預約</p>
				<img src="assets/images/index-12.png" class="w-100 h-auto">
			</li>
		</ul>
	</div>

	<%- include('component/contact.ejs') %>

	<%- include('component/footer.ejs') %>
	

	<!-- Bootstrap required JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" `grity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	
	<!-- AOS Required JS & Initialize -->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
	
	<!-- Custom JS -->
	<script src="./assets/js/vendors.js"></script>
	<script src="./assets/js/all.js"></script>
</body>

</html>
